/*animationflip---------------------------------------------------------------------------------------------------*/
/*animation left*/
.flip-horizontal-left:hover .flip-card-inner {
  transform: rotateY(-180deg);
}

.flip-horizontal-left .flip-card-back {
  transform: rotateY(-180deg);
}
/*positions*/
.flip-card {
  background-color: transparent;
  width: 150px;
  height: 210px;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 150px;
  height: 210px;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}
/*card faces*/
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 150px;
  height: 220px;
  backface-visibility: hidden;
}
/*card back face*/
.flip-card-back {
  padding: 0.2rem;
  background-image: url("../../public/img/LoadingCard.jpg");
  background-position: center;
  background-size: cover;
  filter: brightness(120%) saturate(110%) contrast(110%);
}
/*Card list------------------------------------------------------------------------------------------------------*/
.cardOfCardList {
  max-width: 150px;
  max-height: 210px;
}
.cardOfCardListImg {
  filter: brightness(120%) saturate(110%) contrast(110%);
}
.loadingCardOfCardList {
  filter: brightness(120%) saturate(110%) contrast(110%);
}

/*Modal-------------------------------------------------------------------------------------*/
.ModalCard {
  max-width: 150px;
  max-height: 210px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.ModalCard::-webkit-scrollbar {
  display: none;
}
.iconModalImg {
  width: 1.3rem;
  height: 1.3rem;
}
/*------Modal line1 --------------------------------------*/
.nameLineModal {
  padding: 0.3rem;
}
.nameLineModal p {
  margin: 0;
  font-size: 0.7rem;
}
/*-------Modal line2-------------------------------------------------*/
.attributeTypeRaceLineModal {
  display: flex;
  justify-content: center;
  font-size: 0.6rem;
}
.attributeTypeRaceLineModal p {
  margin: 0;
}
.attributeTypeRaceLineModal span {
  justify-self: center;
}
/*--------Modal line3------------------------------------------------------------------*/
.levelRankScaleLineModal p {
  margin: 0;
}
.levelRankScaleLineModal p:first-child {
  font-size: 0.7rem;
}
.levelRankScaleLineModal span p {
  font-size: 0.7rem;
}
/*---------Modal line4------------------------------------------------------------------------------*/
.atkDefLineModal p {
  margin: 0;
  font-size: 0.7rem;
}
/*--------Modal line5------------------------------------------------------------------------------------------*/
.descriptionCardLineModal {
  flex-direction: column;
  padding: 0.5rem;
}
.descriptionCardLineModal p {
  margin: 0;
  font-size: 0.7rem;
}
