/*mudança de estilo bootstrap*/
.form-control:focus {
  border-color: #ffc209;
  box-shadow: 0 0 0 0.2rem rgba(251, 255, 0, 0.192);
}
.form-control {
  border: 1px solid #212529;
}
/*estilos globais*/
* {
  list-style: none;

  scrollbar-width: auto;
  scrollbar-color: #ffc826 #333333b9;
}
body,
header {
  min-width: 100%;
  background-color: #191919;
}
a {
  text-decoration: none;
}
.mainContainer {
  padding: 0;
  height: 100vh;
}
.LoadingSpinPages {
  width: 100px;
}
.LoaderSpinCardLoader {
  width: 3rem;
}
.SpanModalCard {
  width: 400px;
  height: 250px;
  border: 2px solid red;
  background-color: green;
  position: absolute;
  left: 0px;
  z-index: 999;
}
/* estilo do header*/
header,
nav {
  height: 90px;
}
nav img {
  width: 90px;
}
.searchResultList {
  max-height: 300px;
  background-color: #363636e8;
  position: absolute;
  z-index: 999;
}
.itemResultList {
  max-width: 100%;
  transition: all 0.7s;
}
.itemResultList:hover {
  background-color: #4d4c4c;
}
.itemResultListImg {
  width: 5rem;
}
.itemResultListImgDiv {
  width: 30px;
}
/*estilo da pagina inicial*/

.allCardsInicio {
  height: 700px;
  background-color: #363636;
  border: 0.2rem solid #ffca2c;
  border-radius: 0.3rem;
}

.cardOfCardList {
  background: #363636;
  box-shadow: 8px 8px 16px #2d2d2d, -8px -8px 16px #3f3f3f;
  max-width: 150px;
  border: 0.3rem solid transparent;
  filter: brightness(120%) saturate(110%) contrast(110%);
}

.cardOfCardListImg:hover {
  border: 0.3rem solid transparent;
  filter: brightness(70%) saturate(80%) contrast(80%);
}
.loadingCardOfCardList {
  animation: loading 2s linear infinite;
}
@keyframes loading {
  0% {
    opacity: 0.25;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
/*estilo pagina filtro*/
.CardResultsFilterDiv {
  height: 700px;
  background-color: #363636;
  border: 0.2rem solid #ffca2c;
  border-radius: 0.3rem;
}
.inputDivSelects div select {
  cursor: pointer;
}
.formDivFilterTag {
  background-color: #3f3e3e;
  border: 0.2rem solid #797777;
  border-radius: 1rem;
}
.valuesDivSelect input::placeholder {
  color: #ffc107;
}
.LoaderFilter {
  width: 80px;
}
/*estilo footer*/
.Contato,
.Tecnologias {
  padding-left: 0.3rem;
  border-left: 2px solid #e2ae10;
}
.Contato a,
.Tecnologias a {
  color: #cc9b09;
  transition: 0.3s;
}
.Contato a:hover,
.Tecnologias a:hover {
  color: #000000;
}
/*estilo carta individual*/
.iconCard {
  min-width: 20px;
  height: 20px;
}
.tableInfo li {
  background-color: #3a3a3a;
  border: 1px solid rgb(78, 77, 77);
  border-radius: 1rem;
  padding: 0.1rem;
}
.tableInfo li span {
  padding-left: 0.5rem;
}
.tableInfo li p {
  font-size: 1rem;
  padding: 0.3rem;
}
.tableInfo li p img {
  width: 0.9rem;
}
.parallaxImg {
  width: 250px;
  filter: brightness(120%) saturate(110%) contrast(110%);
}
.parallaxImgError {
  width: 400px;
}
